body{
    background: #000;
}
.content{
    width: 456px;
    height: 432px;
    margin: 120px auto 0;
    overflow: hidden;
    position: relative;
}
#zhezao{
    z-index: 10;
    top: -342px;
    left: -522px;
    position: absolute;

}

h1{
    height: 22px;
    line-height: 22px;
    width: 22px;
    font-size: 18px;
    background: #01b5eb;
    text-align: center;
    border: 1px solid #4f8c00;
    border-radius: 50%;
    color: #8adaf8;
    position: absolute;
    top: 408px;
    left: 216px;
}











