@charset "utf-8";
/*页面内容部分*/
/*广告*/
.banner img{width: 100%;}
/*子导航部分*/
.content .subNav{margin-top: 30px;border-bottom: 1px solid #d8d8d8;padding-bottom: 3px;}
.subNav,.subNav a{font-size: 12px;color: #000;}
.subNav span{color: #ff2424;}
/*标题*/
.content .title{margin-top: 40px;}
.title h2,.title h3{text-align: center;}
.title h3{font-family: Arial;color: #b8b8b8;}
/*主要信息内容*/
.xinxi1{ padding: 20px 0 50px;}
.xinxixiangqin{padding-left: 30px;border:1px solid #cac8c8;border-right: none; width: 511px;height: 421px;}
.xinxixiangqin h3{font-size: 16px;margin-top: 60px;margin-bottom: 15px;font-weight: 600;}
.xinxixiangqin p{line-height: 48px;height: 48px;}
.xinxixiangqin span{font-weight: 600;}
.map{border-top: 1px solid #cac8c8;}