@charset "utf-8";
.content{margin-bottom: 50px;}
/*广告*/
.banner img{width: 100%;margin-bottom: 50px;}
/*子导航部分*/
.productCenter{width: 217px;height: 56px;background: #222;text-align: center;color: #fff;line-height: 2em;border-radius: 5px 5px 0 0;}
.productCenter h3{font-size: 16px;}
.productCenter h4{font-family: Arial;font-size: 14px;}
.sub1Nav{border: 1px solid #d5d5d5;width: 190px;padding: 10px 0 6px 26px;}
.sub1Nav li{width: 166px;text-align: center;cursor: pointer;}
.sub1Nav ul li{background: #f1f1f1;border: 1px solid #d5d5d5;margin-bottom: 6px;height: 34px;line-height: 34px;}
/*热线*/
.phone{width: 215px;height: 70px;border: 1px solid #d5d5d5;text-align: center;margin-top: 11px;margin-bottom: 53px; padding-top: 23px;}
.phone span{font-weight: 600;font-size: 18px;color:#e70202;}
/*图片*/
.photo{padding-left: 24px;width: 762px;}
.photo h4{border-bottom: 2px solid #d9d9d9;width: 762px;padding-top: 6px;line-height: 24px;}
.photo h4 span{color: #f00;}
.photo h4 a{color: #000;}
.photo ul{overflow: hidden;}
.photo li{float: left;margin-top: 16px;margin-right: 35px;}
.photo li img{width: 230px;vertical-align: bottom;height: 138px;}
.photo li p{text-align: center;background: #d2d2d2;font-size: 12px;line-height: 38px;height: 38px;width: 230px;}
.photo .pdl{margin-right: 0;}
.fanye{text-align: right;height: 24px;border: 1px solid #d2d2d2;width: 762px;margin: 20px 0;}
.fanye img{vertical-align: middle;cursor: pointer;}
.photo h5{color: #e70202;font-size: 12px;margin-top: 40px;}
