@charset "utf-8";
.banner img{width: 100%;}
.main{width: 1000px;margin: 0 auto;color: #666;}
.main h2{padding: 0 0 7px 26px;background: url("../images/whXZ_07.png")no-repeat 10px 3px;margin-top: 40px;border-bottom: 1px solid #dddee2;}
.main a{color: #666;}
.main h3{width: 100%;height: 42px;line-height: 42px;background: #01b5eb;font-family: "微软雅黑";color: #fff;padding-left: 5px;}
.main h3 img{margin: 0 7px;vertical-align: middle;}
.mainMain{width: 742px;margin: 8px 0 70px 8px;}
.mainMain h3{margin-bottom: 40px;}
.main_M{width: 682px;padding: 0 30px;}
.mainNav{width: 246px;margin-top: 8px;}
.mainNav li{width: 220px;margin: 0 auto;height: 42px;line-height: 42px;border-bottom: 1px dashed #c9c9c9;}
.mainNav li span{width: 8px;height: 8px;border: 1px solid #01b5eb;display: inline-block;margin: 0 7px;}
.mainNav .dangqian a{color: #01b5eb;}
.mainNav .dangqian span{background: #01b5eb;}
.main_M li{border-bottom: 1px solid #d2d2d2;line-height: 28px;height: 28px;margin-top: 10px;
    background: url("../images/whXW_05.png")no-repeat 8px 14px;padding-left: 20px;}
.main_M li span{float: right;}
.gai{width: 620px;overflow: hidden;display: inline-block;}
.main_M .gai2{vertical-align: top;display: inline-block;margin-left: 5px;color: #999;}
.main_M p{float: right;margin-top: 24px;padding-right: 16px;}
.main_M p span{cursor: pointer;}











